<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuwb.dao.StoreMapper">
    <update id="updateStoreCountByVersion">
        update t_store
        set
            store_count = store_count - 1,
            version = version + 1,
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
                version = #{version}
            and goods_id = #{goodsId}
            and supplier_id = #{supplierId}
            and store_count > 0
    </update>
    <select id="selectVersion" resultType="java.lang.Integer">
        select version
        from t_store
        where supplier_id = #{supplierId}
            and goods_id = #{goodsId}
    </select>
    <select id="selectStoreCount" resultType="java.lang.Integer">
        select
            store_count
        from
            t_store
        where
            supplier_id = #{supplierId}
            and
            goods_id = #{goodsId}
    </select>

</mapper>
